@use 'mixins';
@import 'mixins';


.adoptioninfo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.adoptioninfo__container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    min-height: 450px;
    justify-content: center;
}
.adoptioninfo__textbox { 
    display: flex;
    width: 35%;
    max-height: 600px;
    align-items: center;
}
.adoptioninfo__imagebox { 
    display: flex;
    width: 40%;
}
.adoptioninfo__imagebox img { 
    max-height: 500px;
}

.adoptioninfo button {
    @include mybutton;
    margin-top: 25px;
}
.adoptioninfo button:hover {
    @include buttonHoverPurple;
}
.adoptioninfo p {
    margin-top: 15px;
}
.adoptioninfo h2 {
    font-size: 42px;
}
.adoptioninfo span {
    @include span;
}
.icon-container {
    display: flex;
    align-items: center;
    min-height: 300px;
    justify-content: center;
}
.icon-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
}
.icon-box i {
    border-radius: 50px;
    padding: 20px;
    border: 3px solid $teal;
    font-size: 25px;
}
.icon-box h3 {
    margin-top: 20px;
    font-weight: 400;
}
.icon-icons {
    width: 80%;
}



