@use 'fonts';

.footer {
    background: $purple;
    color: $white;
    width: 100%;
}
.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
}
.footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
    color: $white;
}
.footer__logotext {
    font-family: $logo-font;
    font-size: 25px;
    color: $white;
    text-decoration: none;
}
.footer__logo i {
    border-radius: 50px;
    padding: 8px;
    border: 2px solid $white;
    color: $white;
    margin-right: 5px;
}
.footer-items p {
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
    color: #fff;
}
.footer-items h3, .social-media h3 {
    font-size: 20px;
}
.footer-items h3 {
    margin-bottom: 15px;
}
.footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px; 
}
.footer ul a {
    text-decoration: none;
    text-transform: none;
    outline: none;
    color: $white;
    transition: 0.3s;
}
.footer ul a:hover {
    @include texthover;
}
.footer ul li {
    margin: 10px 0;
    height: 25px;
}
.footer li i {
    margin-right: 20px;
}
.social-media {
    width: 25%;
    color: $white;
    text-align: center;
}
.social-media a {
    text-decoration: none;
}
.social-media i {
    margin: 20px 10px;
    padding: 8px;
    color: $white;
    transition: 0.5s;
    font-size: 25px;
}
.social-media i:hover {
    transform: scale(1.1);
}
.footer-bottom {
    padding: 10px;
    background-color: $purple;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.contact li {
    padding: 10px;
}