@use 'fonts';
@use 'colors';
@import 'colors';
@import 'fonts';

body {
    color: $dark;
}
.section__header {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
ul {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
}
ul a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
.logo-text {
    font-family: $logo-font;
    color: $purple;
    font-size: 32px;
}
.logo-image i {
    font-size: 30px;
    padding: 6px;
    border-radius: 50%;
    border: 3px solid $purple;
    color: $purple;
}