@use 'fonts';
@use 'colors';
@use 'mixins';
@import 'colors';
@import 'fonts';
@import 'mixins';


body {
    color: $dark;
}
.section__header {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    background-color: $white;
    min-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: 10px;
}
.header__nav ul {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.header__nav a {
    text-decoration: none;
    letter-spacing: 1.7px;
}
.header__nav ul a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: $purple;
    display: inline-block;
}
.logo-text {
    font-family: $logo-font;
    color: $purple;
    font-size: 35px;
}
.logo-image i {
    font-size: 30px;
    padding: 6px;
    border-radius: 50%;
    border: 3px solid $purple;
    color: $purple;
    margin-right: 6px;
}
.header__nav ul a:hover {
    @include texthover;
}









.header__nav  {
  text-align: center;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
