@use 'fonts';
@use 'colors';
@import 'colors';
@import 'fonts';
@import 'mixins';


main {
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 100vh;
}
.main__container {
    display: flex;
    padding-top: 30px;
    width: 70%;
    justify-content: center;
    max-height: 750px;
}
.main__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-height: 500px;
    font-family: $main-font; 
    margin-top: 35px;
    margin-left: 40px;
}
.main__text-box-txt {
    display: flex;
    flex-direction: column;
}
.main span {
    @include span;
}
.small-title {
    @include smallTitle;
}
.main__title {
    font-size: 50px;
}
.main__text-box button {
    @include mybutton;
}
.main__text-box button:hover {
    @include buttonHoverPurple;
}
.main__image {
    display: flex;
    align-items: flex-start;
    width: 80%; 
    margin-left: 40px;
}
.main__image img {
    max-width: 550px;
    max-height: 550px;
}
.main__scroll {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    flex-direction: row;
    width: 100%;
}
.main__scroll i {
    font-size: 30px;
    color: $purple;
}



@media  screen and (max-width: 600px) {
    .section {
        display: flex;
        flex-direction: column;
    } 
}