@use 'fonts';

body {
    display: flex;
    flex-direction: column;
    font-family: fonts.$mainfont;
    
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    max-width: 1500px;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
}

@media  screen and (max-width: 600px) {
    .section {
        display: flex;
        flex-direction: column;
    } 
    .section__two {
        max-width: 90%;
    }
    form {
        width: 100%;
    }
}