@mixin mybutton {
    background-color: #00BBBB;
    width: 130px;
    height: 45px;
    padding: 6px;
    border-radius: 50px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    color: $white;
    border: none;
    cursor: pointer;
}
@mixin smallTitle {
    font-size: 22px;
    font-weight: 300;
}
@mixin span {
    color: $purple;
}
@mixin texthover {
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.1s ease-in; 
}
@mixin buttonHoverPurple {
    transition: 0.3s ease-in; 
    background-color: $purple;
}
@mixin buttonHoverTeal {
    transition: 0.3s ease-in; 
    background-color: $teal;
}
