@use 'fonts';
@import 'main';
@import 'header';
@import 'footer';
@import 'fonts';
@import 'colors';
@import 'carousel';
@import 'adoptioninfo';
@import 'mixins';
@import 'media';
@import 'adoptpage';
@import 'contact';
@import 'volunteer';
@import 'pets';



* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: $main-font;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}
