main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  margin-top: 40px;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  max-height: 500px;
  font-family: "Montserrat", sans-serif;
  margin-top: 35px;
  margin-left: 30px;
}

.main__text-box-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main span {
  color: #7800B7;
}

.small-title {
  font-size: 22px;
  font-weight: 300;
}

.title {
  font-size: 60px;
}

.main__text-box button {
  background-color: #00BBBB;
  width: 130px;
  height: 45px;
  padding: 6px;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.main__text-box button:hover {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background-color: #7800B7;
}

.main__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  max-height: 800px;
  margin-left: 40px;
}

.main__image img {
  width: 700px;
  height: 700px;
}

.main__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.main__scroll i {
  font-size: 30px;
  color: #7800B7;
}

@media screen and (max-width: 600px) {
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
body {
  color: #09090A;
}

.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px;
  background-color: #FFFFFF;
  min-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin-top: 10px;
}

.header__nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav a {
  text-decoration: none;
  letter-spacing: 1.7px;
}

.header__nav ul a {
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: #7800B7;
  display: inline-block;
}

.logo-text {
  font-family: "Lemon", sans-serif;
  color: #7800B7;
  font-size: 35px;
}

.logo-image i {
  font-size: 30px;
  padding: 6px;
  border-radius: 50%;
  border: 3px solid #7800B7;
  color: #7800B7;
  margin-right: 6px;
}

.header__nav ul a:hover {
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.header__nav {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
}

.footer {
  width: 100%;
  background: #7800B7;
  display: block;
  color: #FFFFFF;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
}

.footer__logotext {
  font-family: "Lemon", sans-serif;
  font-size: 25px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__logo i {
  border-radius: 50px;
  padding: 8px;
  border: 3px solid #FFFFFF;
  color: #FFFFFF;
}

.footer-items p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: #fff;
}

.footer-items h3, .social-media h3 {
  font-size: 20px;
}

.footer-items h3 {
  margin-bottom: 15px;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.footer ul a {
  text-decoration: none;
  text-transform: none;
  outline: none;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer ul a:hover {
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.footer ul li {
  margin: 10px 0;
  height: 25px;
}

.footer li i {
  margin-right: 20px;
}

.social-media {
  width: 25%;
  color: #FFFFFF;
  text-align: center;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  margin: 20px 10px;
  padding: 8px;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 25px;
}

.social-media i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer-bottom {
  padding: 10px;
  background-color: #7800B7;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.carousel-title {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}

.container {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00BBBB;
}

.carousel {
  position: relative;
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 4px solid #7800B7;
  border-bottom: 4px solid #7800B7;
}

.swiper {
  width: 70%;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  min-height: 400px;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.card::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #7800B7;
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

section .card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #7800B7;
}

.carousel .card .image img {
  height: 100%;
  width: 100%;
  width: 220px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 6px solid #fff;
}

.carousel .card .image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.card .card-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-icon i {
  color: #FFFFFF;
  opacity: 0.3;
}

/*
.card .card-icon i:hover {
    transform: scale(1.2);
    opacity: 1;
}*/
.card .card-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.card-name .name {
  font-size: 20px;
  font-weight: 600;
}

.card .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  min-width: 150px;
}

.card .button button {
  background: #7800B7;
  outline: none;
  border: none;
  color: #FFFFFF;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  min-width: 115px;
  min-height: 40px;
}

.card .button button:hover {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background-color: #00BBBB;
}

.swiper-pagination {
  position: absolute;
}

.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #7800B7;
}

.swiper-button-next, .swiper-button-prev {
  color: #7800B7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  color: #7800B7;
}

.card-heart {
  position: absolute;
  top: 15px;
  right: 20px;
}

.adoptioninfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.adoptioninfo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 680px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adoptioninfo__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  max-height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adoptioninfo__imagebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.adoptioninfo button {
  background-color: #00BBBB;
  width: 130px;
  height: 45px;
  padding: 6px;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

.adoptioninfo button:hover {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background-color: #7800B7;
}

.adoptioninfo p {
  margin-top: 15px;
}

.adoptioninfo h2 {
  font-size: 42px;
}

.adoptioninfo span {
  color: #7800B7;
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 80%;
}

.icon-box i {
  border-radius: 50px;
  padding: 20px;
  border: 3px solid #00BBBB;
  font-size: 40px;
}

.icon-box h3 {
  margin-top: 20px;
  font-weight: 400;
}

.icon-icons {
  width: 80%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}